@using Microsoft.AspNetCore.Mvc
@{
    Layout = "PatientIndex";
}
@{
    ViewData["Title"] = "History";
}
@model IEnumerable<DoctorsAppointmentScheduler.DTO.AppointmentHistoryDTO>
<table>
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Booked Date</th>
            <th>Time Slot</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        }
        @foreach (var appointment in Model)
        {
            <tr>
                <td>Dr. @appointment.PatientName</td>
                <td>@appointment.Selected_Date.ToString("yyyy-MM-dd")</td>
                <td>@appointment.TimeSlot.ToString(" HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th {
        background-color: #f2f2f2;
        padding: 8px;
        text-align: left;
    }
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    td {
        border: 1px solid #dddddd;
        padding: 8px;
    }
        td:first-child {
            font-weight: 500;
        }

</style>

