@using Microsoft.AspNetCore.Mvc
@{
    Layout = "HomeIndex";
}
@model DoctorsAppointmentScheduler.DTO.AuthenticationDTO 
@{
    ViewData["Title"] = "Login";
}

<section >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div >
                    <div class ="row justify-content-center">
                        <div class="col-lg-6" style="background-color: white;">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h1>Login</h1>
                                </div>
                                <form asp-action="MedicalStaffLogin" asp-controller="Home" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Username">Username:</label>
                                        <input asp-for="Username" type="text" id="form2Example11" class="form-control" placeholder="Username"  />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Password">Password:</label>
                                        <input asp-for="Password" type="password" id="form2Example22" class="form-control" placeholder="Password"  />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button id="loginButton" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" >
                                            Log in
                                        </button>
                                    </div>
                                </form>
                               
                                @if (TempData["SuccessMessageMedicalForgotPassword"] != null)
                                {
                                    <div class="alert alert-success">
                                        @TempData["SuccessMessageMedicalForgotPassword"]
                                    </div>
                                }
                                @if (TempData["SuccessMessageMedicalFirstLoginResetPassword"] != null)
                                {
                                    <div class="alert alert-success">
                                        @TempData["SuccessMessageMedicalFirstLoginResetPassword"]
                                    </div>
                                }
                                @if (TempData.ContainsKey("ErrorMessageLogin"))
                                {
                                    <div class="alert alert-danger">
                                        @TempData["ErrorMessageLogin"]
                                    </div>
                                }
                                <div>
                                    <a asp-action="MedicalForgotPassword" asp-controller="Home"  class="text-muted">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function () {
        $('.alert').fadeOut('slow');
    }, 3000);
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
