@using Microsoft.AspNetCore.Mvc
@{
    Layout = "DoctorsIndex";
}
<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .full-screen-image {
        background-image: url('Images/pexels-johnathon-horner-14906846 (1).jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
</style>
<!DOCTYPE html>
<html>
<body class="full-screen-image">
    
    <div style="margin-top: 50px; margin-left: 776px;">
        <h1>THE BEST DOCTOR</h1>
        <h1> GIVES THE LEAST</h1>
        <h1> MEDICINES</h1>
    </div>

</body>
</html>