@using Microsoft.AspNetCore.Mvc
@{
    Layout = "AdminIndex";
}
<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .full-screen-image {
        background-image: url('https://img.freepik.com/premium-photo/doctor-hold-icon-health-electronic-medical-record-interface-digital-healthcare-network_34200-712.jpg?w=1380');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
</style>
<!DOCTYPE html>
<html>
<body class="full-screen-image">

</body>
</html>